---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=-1&owner_screen_name=lechinoise&slug=politic-arg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_0>", oauth_nonce="7f550328dc6c6de591f06b3bc85ac77c",
        oauth_signature="0FebexAeXnNpxwi92SDrPq%2B5N2A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1468928763", oauth_token="<twitter_2>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 19 Jul 2016 11:46:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 25c6cf99929ed25961b5705db0cde366
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '107'
      X-Rate-Limit-Reset:
      - '1468928943'
      X-Response-Time:
      - '235'
      X-Transaction:
      - 008955b40032d68c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":717802179415969792,"id_str":"717802179415969792","name":"ProgresarGob","screen_name":"Progresar_Gob","location":"","description":"Programa
        de Respaldo a Estudiantes de Argentina","url":"https:\/\/t.co\/biDGeCpTXi","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/biDGeCpTXi","expanded_url":"http:\/\/progresar.anses.gob.ar","display_url":"progresar.anses.gob.ar","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":402,"friends_count":33,"listed_count":2,"created_at":"Wed
        Apr 06 19:52:30 +0000 2016","favourites_count":1,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":108,"lang":"es","status":{"created_at":"Mon
        Jul 18 14:53:51 +0000 2016","id":755052972959211521,"id_str":"755052972959211521","text":"RT
        @ansesgob: #Efem\u00e9rides 18 de julio. Memoria por las v\u00edctimas del
        Atentado a la AMIA (@InfoAMIA ) #MemoriaAMIA. https:\/\/t.co\/lsvMj5XIeq","truncated":false,"entities":{"hashtags":[{"text":"Efem\u00e9rides","indices":[14,25]},{"text":"MemoriaAMIA","indices":[100,112]}],"symbols":[],"user_mentions":[{"screen_name":"ansesgob","name":"ANSES","id":144307376,"id_str":"144307376","indices":[3,12]},{"screen_name":"InfoAMIA","name":"AMIA","id":2173949360,"id_str":"2173949360","indices":[88,97]}],"urls":[],"media":[{"id":755024474416840704,"id_str":"755024474416840704","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/CnpiwlpXgAAuxBL.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CnpiwlpXgAAuxBL.jpg","url":"https:\/\/t.co\/lsvMj5XIeq","display_url":"pic.twitter.com\/lsvMj5XIeq","expanded_url":"http:\/\/twitter.com\/ansesgob\/status\/755024479584194560\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":800,"h":800,"resize":"fit"},"medium":{"w":800,"h":800,"resize":"fit"}},"source_status_id":755024479584194560,"source_status_id_str":"755024479584194560","source_user_id":144307376,"source_user_id_str":"144307376"}]},"extended_entities":{"media":[{"id":755024474416840704,"id_str":"755024474416840704","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/CnpiwlpXgAAuxBL.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CnpiwlpXgAAuxBL.jpg","url":"https:\/\/t.co\/lsvMj5XIeq","display_url":"pic.twitter.com\/lsvMj5XIeq","expanded_url":"http:\/\/twitter.com\/ansesgob\/status\/755024479584194560\/photo\/1","type":"photo","sizes":{"small":{"w":680,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":800,"h":800,"resize":"fit"},"medium":{"w":800,"h":800,"resize":"fit"}},"source_status_id":755024479584194560,"source_status_id_str":"755024479584194560","source_user_id":144307376,"source_user_id_str":"144307376","ext_alt_text":null}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Jul 18 13:00:38 +0000 2016","id":755024479584194560,"id_str":"755024479584194560","text":"#Efem\u00e9rides
        18 de julio. Memoria por las v\u00edctimas del Atentado a la AMIA (@InfoAMIA
        ) #MemoriaAMIA. https:\/\/t.co\/lsvMj5XIeq","truncated":false,"entities":{"hashtags":[{"text":"Efem\u00e9rides","indices":[0,11]},{"text":"MemoriaAMIA","indices":[86,98]}],"symbols":[],"user_mentions":[{"screen_name":"InfoAMIA","name":"AMIA","id":2173949360,"id_str":"21739[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/lists/members.json?cursor=4611686021429952489&owner_screen_name=lechinoise&slug=politic-arg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_0>", oauth_nonce="4788b21b125d39166d4d1fe76afe02a1",
        oauth_signature="zlrR9gcYle5%2BOub669exVj6Gs2M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1468928764", oauth_token="<twitter_2>", o[...]
[...]
